<div class="wrap">
  <div class="language">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Language</mat-label>
      <mat-select
        [(value)]="selectedLang"
        #lang
        (valueChange)="setLanguage(lang.value)"
      >
        <mat-option value="en">English</mat-option>
        <mat-option value="id">Indonesian</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="input" appearance="fill">
      <mat-label>{{ "myForm.id" | translate }}</mat-label>
      <input matInput formControlName="id" />
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>{{ "myForm.name" | translate }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>{{ "myForm.age" | translate }}</mat-label>
      <input matInput type="number" formControlName="age" />
    </mat-form-field>

    <mat-radio-group
      class="radio"
      aria-label="Select an option"
      formControlName="gender"
    >
      <mat-radio-button value="Man">{{"myForm.man" | translate}}</mat-radio-button>
      <mat-radio-button value="Woman">{{"myForm.woman" | translate}}</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="input" appearance="fill">
      <mat-label>{{ "myForm.email" | translate }}</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>{{ "myForm.position" | translate }}</mat-label>
      <mat-select formControlName="position">
        <mat-option value="Frontend">Frontend</mat-option>
        <mat-option value="Backend">Backend</mat-option>
        <mat-option value="QA">QA</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>{{ "myForm.martialstatus" | translate }}</mat-label>
      <mat-select formControlName="martialstatus">
        <mat-option value="Single">Single</mat-option>
        <mat-option value="Married">Married</mat-option>
      </mat-select>
    </mat-form-field>

    <div formArrayName="addresses">
      <div *ngFor="let address of addressForms.controls; let i = index">
        <div [formGroupName]="i">
          <h3>Address{{i + 1}}</h3>

          <mat-form-field class="input" appearance="fill">
            <mat-label>{{ "myForm.address" | translate }}</mat-label>
            <input matInput formControlName="address" />
          </mat-form-field>
  
          <mat-form-field class="input" appearance="fill">
            <mat-label>{{ "myForm.zipcode" | translate }}</mat-label>
            <input matInput type="number" formControlName="zipcode" />
          </mat-form-field>
  
          <mat-form-field class="input" appearance="fill">
            <mat-label>{{ "myForm.city" | translate }}</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>
  
          <mat-form-field class="input" appearance="fill">
            <mat-label>{{ "myForm.country" | translate }}</mat-label>
            <input matInput formControlName="country" />
          </mat-form-field>
          <button type="button" mat-button (click)="removeForm(i)" *ngIf="addressForms.length > 1">Delete
          </button>
        </div>
      </div>
      <button type="button" mat-button (click)="pushForm()">Add Address</button>
    </div>
    <button class="btn">Submit</button>
  </form>
</div>
