.input{
  display: block;
  margin: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.radio{
  display: block;
  margin: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.radio mat-radio-button {
  margin-right: 50px;
}

.btn{
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  padding: 80px;
}