<div class="language">
  <mat-form-field appearance="outline">
    <mat-label>Language</mat-label>
    <mat-select
      [(value)]="selectedLang"
      #lang
      (valueChange)="setLanguage(lang.value)"
    >
      <mat-option value="en">English</mat-option>
      <mat-option value="id">Indonesian</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>{{"myForm.id" | translate}}</mat-label>
    <input matInput formControlName="id" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{"myForm.name" | translate}}</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{"myForm.age" | translate}}</mat-label>
    <input matInput type="number"  formControlName="age" />
  </mat-form-field>

  <mat-radio-group aria-label="Select an option" formControlName="gender">
    <mat-radio-button value="Man">Man</mat-radio-button>
    <mat-radio-button value="Woman">Woman</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill">
    <mat-label>{{"myForm.email" | translate}}</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{"myForm.position" | translate}}</mat-label>
    <mat-select formControlName="position">
      <mat-option value="FE">Frontend</mat-option>
      <mat-option value="BE">Backend</mat-option>
      <mat-option value="QA">QA</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{"myForm.martialstatus" | translate}}</mat-label>
    <mat-select formControlName="martialstatus">
      <mat-option value="single">Single</mat-option>
      <mat-option value="married">Married</mat-option>
    </mat-select>
  </mat-form-field>
  <form [formGroup]="myAddresses">
    <mat-form-field appearance="fill">
      <mat-label>{{"myForm.address" | translate}}</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{"myForm.zipcode" | translate}}</mat-label>
      <input matInput type="number" formControlName="zipcode" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{"myForm.city" | translate}}</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{"myForm.country" | translate}}</mat-label>
      <input matInput formControlName="country" />
    </mat-form-field>
  </form>
  <button>Submit</button>
</form>
