* {
  box-sizing: border-box;
}

header {
  background-color: lightblue;
  box-shadow: 5px 5px 5px #888888;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 20px 0 20px 20px;
  font-family: 'Rubik', sans-serif;

}

.description {
  margin-top: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile table {
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

.profile th {
  background-color: #50ACD7;
}

.profile li {
  list-style: none;
}

.profile {
  width: 500px;
}

.socmed {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
}

body {
  width: 100%;
  margin: 0;
  background-color: #687c85;
}

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  vertical-align: middle;
}

section>p {
  text-align: justify;
}

.shop {
  border-radius: 10px;
  width: fit-content;
  overflow: hidden;
  background-color: #50ACD7;
  margin-right: auto;
  margin-left: auto;
}

.shop table {
  border: 1px solid white;
  border-collapse: collapse;
}

.shop th {
  background-color: #50ACD7;
  padding: 10px 70px;
}

.shop td {
  background-color: #96D4D4;
  padding: 40px 70px;
}

.headline {
  margin-top: 20px;
}

.window {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.signup {
  background-color: #50ACD7;
  width: 30%;
  border-radius: 1rem;
  display: flex;
  padding: 20px;
  flex-direction: column;
  box-shadow: 0 0 20px #000000;
}

.name {
  display: flex;
  justify-content: space-between;
}

.first-name {
  width: calc(50% - 10px);
  border-radius: 1rem;
  border: none;
  padding: 10px;
  outline: none;
}

.last-name {
  width: calc(50% - 10px);
  border-radius: 1rem;
  border: none;
  padding: 10px;
  outline: none;
}

.write {
  margin-top: 20px;
  border-radius: 1rem;
  border: none;
  padding: 10px;
  outline: none;
  resize: none;
}

.gender {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.media {
  width: 65%;
  background-color: #50ACD7;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 20px #000000;
}

.email {
  margin-top: 20px;
  border-radius: 1rem;
  border: none;
  padding: 10px;
  outline: none;
}

.telephone {
  margin-top: 20px;
  border-radius: 1rem;
  border: none;
  padding: 10px;
  outline: none;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.link {
  margin-top: 20px;
  border-radius: 1rem;
  border: none;
  padding: 10px;
  outline: none;
}

.pass {
  border-radius: 1rem;
  border: none;
  padding: 10px;
  outline: none;
}

.zetta {
  transform: translate(100px, 60px);
}

.vid {
  margin: 20px;
}

.song {
  margin: 40px;
}

.age {
  border-radius: 1rem;
  border: none;
  padding: 10px;
  outline: none;
}

.submit {
  margin-top: 20px;
  border-radius: 1rem;
  border: none;
  padding: 10px;
  outline: none;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.wrapper input, textarea {
  border: none;
}

.section-a,
.section-b {
  width: 50%;
  background-color: white;
  width: calc(50% - 20px);
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 20px #000000;
}

.section-a {
  padding: 20px;
}

.section-b {
  display: flex;
}

.nama {
  width: 100%;
  justify-content: center;
  background-color: #e1e1e1;
  border-radius: 10px;
  padding: 15px;
  outline: none;
}

.picture, .tele, .mail, .secret, .motiv, .btn, .birth {
  margin-top: 10px;
  width: 100%;
  background-color: #e1e1e1;
  border-radius: 10px;
  padding: 15px;
  outline: none;
}

.person {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.motiv {
  resize: none;
}

.data {
  justify-content: center;
  width: 100vw;
  overflow: auto;
  padding: 20px;
}

.data table {
  border: 1px solid white;
  border-collapse: collapse;
}

.data th {
  background-color: #50ACD7;
  padding: 10px 70px;
}

.data td {
  background-color: #96D4D4;
  padding: 40px 70px;
}

.profile img {
  width: 100px;
}


