* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.header {
  display: flex;
  background-color: black;
  width: 100%;
  min-height:50px;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 5px 5px #888888;
}

a {
  margin-right: 50px;
  font-size: larger;
  text-decoration: none;
  color: white;
}

.logo{
  margin-right: 30px;
}

.content {
  font-family: 'Lobster', cursive;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  margin: 0;
 
}

main {
  flex-grow: 1;
  
}

.box {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.grid {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hobby {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.grid > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.about {
  display: flex;
  padding: 0;
}

.bio {
  padding-top: 100px;
}

