<mat-toolbar>
  <a [routerLink]="['']">
    <img
      src="https://cdn.pixabay.com/photo/2021/05/25/02/03/restaurant-6281067_1280.png"
      alt="me"
    />
  </a>
  
  <div class="wrap-left">
    <button mat-button [routerLink]="['About']" routerLinkActive="active" *ngIf="!isToken">About</button>
    <button mat-button [routerLink]="['Menu']" routerLinkActive="active" *ngIf="!isToken">Menu</button>
  </div>

  <div class="wrap-right">
    <button mat-button [routerLink]="['Login']" routerLinkActive="active" *ngIf="!isToken">Login</button>
    <button mat-button [routerLink]="['Login']" *ngIf="!isToken">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </div>
  <button mat-button *ngFor="let menu of menus" [routerLink]="[menu?.routing]">{{ menu?.page }}</button>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>

