<mat-toolbar>
  <!-- <a routerLink="home">
    <img
      src="https://cdn.pixabay.com/photo/2021/05/25/02/03/restaurant-6281067_1280.png"
      alt="me"
    />
  </a>
  
  <div class="wrap-left">
    <button mat-button routerLink="about" routerLinkActive="active">About</button>
    <button mat-button routerLink="menu" routerLinkActive="active">Menu</button>
  </div>

  <div class="wrap-right">
    <button mat-button routerLink="login" routerLinkActive="active">Login</button>
    <button mat-button routerLink="cart">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </div> -->
  <button mat-button *ngFor="let menu of menus" [routerLink]="[menu?.routing]">{{ menu?.page}}</button>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>

