nav ul {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: larger;
}

.active{
  color: yellow !important; 
}