<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Nasi Goreng</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://images.unsplash.com/photo-1512058564366-18510be2db19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" alt="me">
  <mat-card-content>
    <p>
      Nasi Goreng is a Southeast Asian fried rice dish, usually cooked with pieces of meat and vegetables. One of Indonesia's national dishes.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <mat-icon>add</mat-icon>Add</button>
  </mat-card-actions>
</mat-card>