
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: cornflowerblue;
  margin-bottom: 20px;
  padding: 20px;
}



