* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: #333;
}

body {
  margin: 0;
  padding: 40px;
  background-color: navy;
  
}

.container{
  width: 100%;
  border: 10px  solid black;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0 10px salmon;
  background-color: #eaeaea;
  
}

.title {
  width: 200px;
  margin: 0 auto 0 auto;
}

.paragraph {
  width: 1000px;
  margin: 0 auto 0 auto;
  text-align: justify;
}

.paragraph span {
  padding: 0 0 0 50px;
  font-size: 25px;
}

.cover {
  width: 1000px;
  margin: 0 auto 0 auto;
  
}

.cover img {
  width: 100%;
  border-radius: 3rem;
  box-shadow: 5px 5px 3px #888888;
  transition: 1s;
}

.cover img:hover{
  transform: scale(1.1);
}

.wrap-card {
  width: 100%;
  display: flex;
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: calc((100%/4) - 20px); 
  text-align: center;
  border: 4px solid black;
  border-radius: 3rem;
  box-shadow: 5px 5px 3px #888888;
  overflow: hidden;
  transition: 1s;
}

.card:hover {
  transform: scale(1.1);
}

.card > p {
  text-align: start;  
  padding: 5px 5px 5px 5px;
}

.card > h4 {
  font-weight: bolder;
}

.card span {
  font-size: 20px;
}

.footer {
  margin: 40px 0 0 0;
  
}