<form class="form" [formGroup]="myForm">
  <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"/>
  </mat-form-field>
  <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password"/>
  </mat-form-field>
  <section class="example-section">
    <mat-checkbox class="example-margin">Remember Me</mat-checkbox>
  </section>  
  <button mat-raised-button color="primary">submit</button>
</form>